html {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/code.jpg);
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}

body {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.6s ease-in-out;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.border {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #fff;
  padding: 50px 70px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 150px;
}

.center {
  text-align: justify;
}

header {
  margin-top: 100px;
  text-align: center;
}

ul li {
  display: inline-block;
}

ul li a {
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  border: 1px solid white;
  position: center;
  transition: 0.6s ease;
}

h1 {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 35px;
}

a {
  color: rgb(222, 250, 199);
}

img {
  width: 19%;
  background-color: rgba(255, 255, 255, 0.6);
}